<div style="margin:20px">
  <div class="row">
    <div class="form-group"></div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Imie</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imie">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Nazwisko</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nazwisko">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Pesel</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Pesel">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telefon</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Telefon">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Adres</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Adres">
      </div>
      <button type="submit" class="btn btn-primary">Zarejestruj się</button>
    </form>
    <div class="form group"></div>

  </div>
  <img src="./assets/pog.png" class="img-fluid" alt="poggers">
</div>

