<div style="margin:20px">
  <div class="row">
    <div class="form-group"></div>
    <form>
      <div class="form-group">
        <div class="form-group">
          <label for="inputEmail4">Imie</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Imie">
        </div>
        <div class="form-group">
          <label for="inputEmail4">Nazwisko</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Nazwisko">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">PESEL</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="PESEL">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Telefon</label>
        <input type="number" class="form-control" id="inputAddress2" placeholder="Telefon">
      </div>
      <label for="inputAddress2">Adres Zamieszkania</label>
      <div class="form-row">
      <div class="form-group">
        <label for="inputAddress2">Ulica</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Ulica">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Numer domu / mieszkania</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Numer domu lub mieszkania">
      </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="inputCity">Miejscowość</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group">
          <label for="inputState">Województwa</label>
          <select id="inputState" class="form-control">
            <option selected>Wybierz Woj.</option>
            <option>Dolnosląskie</option>
            <option>Kujawsko-Pomorskie</option>
            <option>Lubelskie</option>
            <option>Lubskie</option>
            <option>Ludzkie</option>
            <option>Małopolskie</option>
            <option>Mazowieckie</option>
            <option>Opolskie</option>
            <option>Podkarpackie</option>
            <option>Podlaskie</option>
            <option>Slaskie</option>
            <option>Swiętokrzyskie</option>
            <option>Warmińsko-Mazurskie</option>
            <option>Wielkopolskie</option>
            <option>ZachodnioPomorskie</option>
            <option>Pomorskie</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputZip">Kod pocztowy</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <img src="./assets/pog.png" class="img-fluid" alt="poggers">

      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="form group"></div>


  </div>

</div>
